<!doctype html>
<html lang="en">
  <head>
    <title>The Logs of the Web</title> 
    <meta charset="utf-8">
  </head>
  <body>
    <nav>
      | <a href="/">World Wide Web Log</a> |
      <a href="/posts" title="Posts">Posts</a> |
    </nav>
    <section>
     <p> {{ content }}</p>
    </section>
  </body>
</html>
